body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #ffe9ac;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
}

#contenedor-principal {
    background-color: white;
    padding: 30px 40px;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    text-align: center;
    margin-left: 22rem;
}

h1 {
    color: #ff7b00;
    padding-bottom: 10px;
    font-size: 1.5em;
}

#resultado-zona {
    margin: 20px 0;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #28a745;
    background-color: #e6ffe6;
    border: 1px solid #c3e6cb;
    border-radius: 8px;
    min-height: 20px;
}

.cuadrantes-visuales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 25px;
    padding: 15px;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.cuadrante {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: normal;
    color: #6c757d;
}

.volver-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #FFFFFF;
    color: #ff8206;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.volver-btn:hover {
    background-color: #834201;
    color: #FFFFFF;
}