@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background-color: #fae9cb; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0;
}

.volver-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #FFFFFF;
    color: #C2840F;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px; 
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.volver-btn:hover {
    background-color: #97670c;
    color: #FFFFFF;
}

.content-analisis {
    text-align: left;
    padding: 10px;
}

.action-link {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    display: block; 
    margin-top: 10px;
}

.oculto {
    display: none;
}
#contenido-oculto{
    font-weight: 500;
    color:#6D4A08;
}
.contenido-central{
    background-color: #fffdf9; 
    padding: 15px;
    width: 55%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenido-central h2{
    color: #C2840F;
}
