@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background-color: #f7dfc6; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.btn-action {
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #A25201;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.btn-action:hover {
    background-color: #834201;
    color: #FFFFFF;
}

.volver-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #FFFFFF;
    color: #A25201;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px; 
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.volver-btn:hover {
    background-color: #834201;
    color: #FFFFFF;
}


.content-analisis {
    text-align: left;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

.content-analisis p {
    margin-bottom: 8px;
}

.content-analisis a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.contenido-central{
    background-color: #fffaf5; 
    padding: 15px;
    width: 66%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenido-central h2{
    color: #A25201;
}

#resultado{
    margin-top: 20px; 
    padding: 10px; 
    border: 1px solid #A25201; 
    border-radius: 3px; 
    background-color: #fff2ef; 
    color: #333; 
    font-weight: 500; 
    text-align: center;
}