body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #dbffb2;
}

.contenedor-principal {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 50px auto 20px auto;
    flex-direction: column;
    align-items: center;
}

.contenedor-principal h1 {
    color: #0a5e1e;
    font-size: 1.5em;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #218838;
}

#limpiar-boton {
    background-color: #dc3545;
}

#limpiar-boton:hover {
    background-color: #c82333;
}

#texto-entrada {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    text-align: left;
}

.area-resultados {
    text-align: left;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.area-resultados h2 {
    color: #007bff;
    font-size: 1.2em;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 0;
}

.area-resultados p {
    margin: 5px 0;
    word-break: break-word;
}

.area-resultados strong {
    display: inline-block;
    width: 170px;
    font-weight: bold;
    color: #333;
}

.volver-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #FFFFFF;
    color: #044419;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.volver-btn:hover {
    background-color: #0a5c29;
    color: #FFFFFF;
}